<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" th:href="@{_css/bodyBackground.css}">
	<link rel="stylesheet" type="text/css" th:href="@{_css/ShippingHeader.css}">
	<title>Shipping Home Page</title>
	
	</head>
	
	<body>
	
		<div id="headerBar">
			<h1 id="title">Welcome to the Shipping/Receiving Department</h1>
			<div id="home"></div>
			<div id="logout"><a th:href="@{/logout}">Log Out</a></div>
			<div id="menu1"><a th:href="@{/viewInventory}">View Inventory</a></div>
			<div id="menu2"><a th:href="@{/addItem}">Add a New Item</a></div>
			<div id="menu3"><a th:href="@{/searchItems}">Search Items</a></div>
			<div id="menu4"><a th:href="@{/print}">Print Shipping Manifest</a></div>
		</div>
	
	</body>
	
</html>