@charset "ISO-8859-1";

form { 
	position: relative;
	top: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
	background-color:white;
	margin: 0 auto; 
	width: 300px;
	text-align: center;
}